body {
    margin: 0;
    background-color: #8F57FD;
    font-family: 'Muli', sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 50px;
    margin: 10px 0px 0px 30px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu__profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu__profile img {
    margin-right: 8px;
    width: 40px;
}

.header__menu__profile p {
    margin: 0px;
    color: white;
}

.main {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    color: white;
    font-size: 25px;

}

.input {
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

::placeholder {
    color: white;
}